*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.body{
  background-color: black;
  width: 100% !important;
    overflow-x: hidden !important;
}
.container{
    gap: 20px;
    /* overflow:auto; */
    flex-wrap: wrap;
    
}
.col-md-5 {
    flex: 0 0 auto;
    width: 32.666667%;
}
.col-md-7 {
    flex: 0 0 auto;
    /* width: 100px; */
    padding: 31px 30px;
}
.footer{
    background-color: black;
}



